{% extends 'page_base.html' %}
{% block title %}
Login
{% endblock %}
{% block main %}
    <div class="auth-form-wrapper">
        <form class="auth-form" action="login.php" method="post">
            <span class="form-input">
                Nombre de usuario: <input type="text" name="username" />
            </span>
            <span class="form-input">
                Contraseña: <input type="password" name="password" />
            </span>
          <input class="auth-button" type="submit" value="Login" />
        </form>
        {% if wrongCredentials %}
          <span class="auth-error">Nombre de usuario o contraseña incorrectos</span>
        {% endif %}
    </div>
{% endblock %}