{% extends 'page_base.html' %}
{% block title %}
Registro
{% endblock %}
{% block main %}
    <div class="auth-form-wrapper">
        <form class="auth-form" action="signup.php" method="post">
            <span class="form-input">
                Nombre de usuario: <input type="text" name="username" value="{{username}}" />
            </span>
            <span class="form-input">
                Email: <input type="text" name="email" value="{{email}}" />
            </span>
            <span class="form-input">
                Año de nacimiento: <input type="number" name="birth_year" value="{{birth_year}}" />
            </span>
            <span class="form-input">
                Contraseña: <input type="password" name="password" value="{{password}}" />
            </span>
          <input class="auth-button" type="submit" value="Registrarse" />
        </form>
        {% if signUpError != "" %}
          <span class="auth-error">{{ signUpError }}</span>
        {% endif %}
    </div>
{% endblock %}