{% extends 'page_base.html' %}
{% block title %}
Moderación del sitio
{% endblock %}
{% block main %}
    <section class="admin-section">
        <h1>Moderación del sitio</h1>
        <h2>Comentarios</h2>
        <table class="users-table">
            <tr>
                <td>Evento</td>
                <td>Autor</td>
                <td>Comentario</td>
                <td>Fecha publicación</td>
                <td>Editada por moderador</td>
                <td>Acciones</td>
            </tr>
            {% for comment in comments %}
            <tr>
                <td>{{comment.event_id}}</td>
                <td>{{comment.author | title}}</td>
                <td>{{comment.body}}</td>
                <td>{{comment.created_at | date("d/m/Y")}}</td>
                <td>{{comment.edited_by}}</td>
                <td><span class="comment-action edit" commentid="comment.id">✏️</span><span class="comment-action delete" commentid="comment.id">🗑️</span></td>
            </tr>
            {% endfor %}
        </table>
    </section>
    <script src="/assets/scripts/moderation.js"></script>
{% endblock %}