{% extends 'page_base.html' %}
{% block title %}
Editar comentario
{% endblock %}
{% block main %}
    <section class="admin-section">
        <h1>Moderación del sitio</h1>
        <h2>Edición de Comentario</h2>

        {% if comment %}
        <element id="{{comment.id}}" class="comment-wrapper">
            {% if comment.edited_by %}
                <span class="tooltip">⚠️
                    <span class="tooltiptext">Comentario editador por el moderador {{comment.edited_by}}</span>
                </span>
            {% endif %}
            <div class="comment-details">
                <span>Evento: {{ comment.event_id }}</span>
                <span>Autor: {{ comment.author | title }}</span>
                <span>Creado el: {{ comment.created_at | date("d/m/Y") }}</span>
            </div>
            <textarea id="comment-body" name="comment" rows="16" body="{{ comment.body }}" commentid="{{ comment.id }}"></textarea>
            <button id="update-comment" class="button" type="button">Editar comentario</button>
        </element>
        {% else %}
            <div class="not-found-wrapper">
                <h1>La búsqueda no ha tenido éxito</h1>
            </div>
        {% endif %}

    </section>
    <script src="/assets/scripts/moderation.js"></script>
{% endblock %}