{% extends 'base.html' %}
{% block title %}
{{ event.title }}
{% endblock %}
{% block main %}
    {% if event %}
        <section class="event-wrapper">
        <figure class="event-image">
            <img src="{{event.image_url}}" />
        </figure>
        <article>
            <div class="main-data">
            <h2>{{ event.title | title }}</h2>
            <h3>{{ event.author | title }}</h3>
            <h4>{{ event.updated_at | date("d/m/Y") }}</h4>
            </div>
            {{ event.body | raw }}
            {{ include('components/event_image_gallery.html') }}
            {{ include('components/social_buttons.html') }}
        </article>
        </section>
        {{ include('components/event_comments.html') }}
    {% else %}
        <div class="not-found-wrapper">
            <h1>La búsqueda no ha tenido éxito</h1>
        </div>
    {% endif %}
{% endblock %}