{% extends 'base.html' %}
{% block title %}
Evento
{% endblock %}
{% block main %}
<aside class="links-wrapper">
  <a class="related-link" href="https://github.com/Josalmer" target="#">
    <img src="assets/images/github.png" class="link-image" />
  </a>
  <a class="related-link" href="https://josalmer.github.io/" target="#">
    <img src="assets/images/github-io.png" class="link-image" />
  </a>
  <a class="related-link" href="https://www.linkedin.com/in/jose-saldaña-mercado-1525b5156" target="#">
    <img src="assets/images/linkedin.png" class="link-image" />
  </a>
  <a class="related-link" href="http://lapicanta.com/" target="#">
    <img src="assets/images/la-picanta.png" class="link-image" />
  </a>
</aside>
<section class="event-wrapper">
  <figure class="event-image">
    <img src="assets/images/events/1.jpeg" />
  </figure>
  <article>
    <div class="main-data">
      <h2>{{ event.title | title }}</h2>
      <h3>{{ event.author | title }}</h3>
      <h4>{{ event.date | date("d/m/Y") }}</h4>
    </div>
    {{ event.body | raw }}
    <div class="social-buttons">
      <img src="assets/images/social-buttons/facebook.png" class="social-button" />
      <img src="assets/images/social-buttons/twitter.png" class="social-button" />
      <a href="evento_imprimir.html" target="#">
        <img src="assets/images/print.png" class="social-button" />
      </a>
      <button id="display-comments" class="button" type="button">Ver comentarios</button>
    </div>
  </article>
</section>
<aside id="comments-wrapper">
  <button id="hide-comments" class="button" type="button">Ocultar comentarios</button>
  <div id="comments-list">
    <element class="comment-wrapper">
      <div class="comment-details">
        <span>Jose Saldaña</span>
        <span>13/03/21, 18:51</span>
      </div>
      <p>Nam dignissim egestas sapien, nec tempor tortor iaculis ut. Nunc sagittis in libero sit amet mollis. Vivamus
        porttitor at libero nec porttitor. Curabitur non enim id nulla malesuada tempus et quis quam.</p>
    </element>
    <element class="comment-wrapper">
      <div class="comment-details">
        <span>Juan Calvo</span>
        <span>21/03/21, 10:12</span>
      </div>
      <p>Vivamus porttitor at libero nec porttitor. Curabitur non enim id nulla malesuada tempus et quis quam.</p>
    </element>
  </div>
  <form class="comment-form">
    <input type="text" name="name" placeholder="Escriba su nombre aquí">
    <input type="text" name="email" placeholder="Escriba su email aquí">
    <textarea name="comment" name="comment" rows="10" placeholder="Escriba su comentario aquí"></textarea>
    <button id="send-comment" class="button" type="button">Enviar comentario</button>
  </form>
</aside>
<div id="warning-modal">
  <div class="modal-content">
    <p>Para enviar un comentario, rellena el tu nombre, un email válido y tu comentario</p>
    <span class="close">&times;</span>
  </div>
</div>
{% endblock %}