{% extends 'page_base.html' %}
{% block title %}
Formulario de evento
{% endblock %}
{% block main %}
    <section class="admin-section">
        <h1>Gestión del sitio</h1>
        <h2>Formulario de evento</h2>

        <form class="event-form" action="event-form.php" method="post">
            <span class="event-form-input">
                Título de evento: <input type="text" name="title" value="{{event.title}}" />
            </span>
            <span class="event-form-input">
                Autor: <input type="text" name="author" value="{{event.author}}" />
            </span>
            <input class="hidden-field" type="text" name="id" value="{{event.id}}" />
            <input class="hidden-field" type="text" name="type" value="event" />
            {% if event %}
                <span class="event-form-input">
                    Tags:
                    <div class="edit-tags-wrapper">
                        <span id="new-tag-button" class="tag">Añadir</span>
                        {% for tag in event.tags %}
                            <span class="tag tag-button">{{ tag.tag }}<span class="tag-delete" tagId="{{tag.id}}">🗑️</span></span>
                        {% endfor %}
                    </div>
                </span>
            {% endif %}
            <textarea id="event-form-body" name="body" rows="16" body="{{ event.body }}" eventid="{{ event.id }}"></textarea>
            <span>Creado el: {{ event.created_at | date("d/m/Y") }}, Última actualización: {{ event.updated_at | date("d/m/Y") }}</span>
            <input class="save-event-button" type="submit" value="Guardar evento" />
        </form>
        {% if event %}
            <h2>Galería de fotos del evento</h2>
            {% for e in errors %}
                <h4 class="error">{{ e }}</h4>
            {% endfor %}
            <form action="event-form.php" method="post" enctype="multipart/form-data">
                <input class="hidden-field" type="text" name="id" value="{{event.id}}" />
                <input class="hidden-field" type="text" name="type" value="image" />
                Imagen a subir: <input type="file" name="image" /><br>
                <input type="submit" value="Añadir imagen" />
            </form>
            <div class="edit-gallery">
                {% for gallery_image in event.gallery %}
                <span id="{{gallery_image.image_url}}" class="image-edit-wrapper">
                    <span class="image-delete" eventId="{{event.id}}" imageUrl="{{gallery_image.image_url}}">🗑️</span>
                    <img class="gallery-image-edit" src="{{gallery_image.image_url}}" />
                </span>
                {% endfor %}
            </div>
        {% else %}
            <div class="new-event-advice">
                <h2>Cree su evento para poder añadir fotos y etiquetas</h2>
            </div>
        {% endif %}
    </section>
    <script src="/assets/scripts/gestion.js"></script>
{% endblock %}