
<aside id="comments-wrapper">
    <button id="hide-comments" class="button" type="button">Ocultar comentarios</button>
    <div id="comments-list">
        <element class="comment-wrapper">
        <div class="comment-details">
            <span>Jose Saldaña</span>
            <span>13/03/21, 18:51</span>
        </div>
        <p>Nam dignissim egestas sapien, nec tempor tortor iaculis ut. Nunc sagittis in libero sit amet mollis. Vivamus
            porttitor at libero nec porttitor. Curabitur non enim id nulla malesuada tempus et quis quam.</p>
        </element>
        <element class="comment-wrapper">
        <div class="comment-details">
            <span>Juan Calvo</span>
            <span>21/03/21, 10:12</span>
        </div>
        <p>Vivamus porttitor at libero nec porttitor. Curabitur non enim id nulla malesuada tempus et quis quam.</p>
        </element>
    </div>
    <form class="comment-form">
        <input type="text" name="name" placeholder="Escriba su nombre aquí">
        <input type="text" name="email" placeholder="Escriba su email aquí">
        <textarea name="comment" name="comment" rows="10" placeholder="Escriba su comentario aquí"></textarea>
        <button id="send-comment" class="button" type="button">Enviar comentario</button>
    </form>
</aside>
<div id="warning-modal">
    <div class="modal-content">
        <p>Para enviar un comentario, rellena el tu nombre, un email válido y tu comentario</p>
        <span class="close">&times;</span>
    </div>
</div>
<script src="assets/scripts/comments.js"></script>
  