<div class="logo-wrapper">
  <img src="/assets/images/logo.png" class="logo" />
</div>
<div class="title-wrapper">
  <div class="title-section">
      <h1 class="site-title">SIBW Prácticas</h1>
  </div>
  <nav>
      <a class="menu-item" href="/">Próximos eventos</a>
      {% if user.role == "anonimo" %}
        <a class="menu-item" href="/login">Login</a>
        <a class="menu-item" href="/signup">Registrarse</a>
      {% else %}
        {% if user.role == "user" %}
            <a class="menu-item user-name" href="/profile">{{ user.username }}</a>
        {% else %}
            <a class="menu-item user-name" href="/profile">{{ user.username }} ({{ user.role }})</a>
        {% endif %}
        <a class="menu-item logout" href="/logout">Logout</a>
        {% if user.super %}
        <a class="menu-item" href="/admin">Admin</a>
        {% endif %}
      {% endif %}
  </nav>
</div>