.admin-section {
    margin-left: 20px;
}

.admin-title {
    font-size: 2.4em;
}

.users-table {
    margin-top: 20px;
}

.admin-checkbox, .moderator-checkbox, .manager-checkbox {
    width: 20px !important;
    margin: 0 !important;
}