/* --------- Event --------- */

.event-wrapper {
    margin: 0 20px;
}

.event-image {
    float: right;
    width: 20em;
    padding-left: 20px;
}

.event-image img {
    width: 100%;
}

.main-data h2 {
    font-size: 3.4em;
}

.social-buttons {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 15px;
}

.social-button {
    cursor: pointer;
    margin-right: 5px;
    width: 50px;
}

#display-comments {
    margin-left: 20px;
}

.main-data h3 {
    margin-left: 20px;
    font-size: 2.4em;
}

.main-data h4 {
    margin-left: 20px;
    font-size: 2em;
}

.event-wrapper p {
    color: gray;
    font-size: 1.1em;
    margin-top: 20px;
}

.event-wrapper p a {
    color: blue;
}

.tags-wrapper {
    margin-top: 20px;
    display: flex;
}

.tag {
    background-color: rgb(223, 213, 213);
    margin-right: 15px;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 8px;
}

.tag-button {
    min-width: 100px;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.edit-tags-wrapper {
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
}

.tag-delete {
    cursor: pointer;
}

.new-tag-button {
    background-color: rgb(187, 216, 144);
    cursor: pointer;
}

/* --------- Events --------- */

.table-image {
    width: 200px;
}

.limited-body {
    display: block;
    max-height: 200px !important;
    overflow-y: scroll;
}

#new-event-button {
    font-weight: bolder;
    border: none;
    background-color: rgb(187, 216, 144);
    margin-top: 20px;
    cursor: pointer;
}

.event-actions-big {
    font-size: 2em;
}

.event-actions {
    font-size: 1.4em;
    margin: 0 5px;
    cursor: pointer;
}

.event-delete, .event-edit {
    margin-left: 25px;
    cursor: pointer;
}

.image-delete {
    background-color: white;
    padding-right: 5px;
    position: absolute;
    cursor: pointer;
    font-size: 1.4em;
}

.event-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.event-form-input {
    width: 200px;
}

.save-event-button {
    align-self: center;
    margin-top: 20px;
}

.new-event-advice {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.7em;
}

/* --------- Not Found page --------- */

.not-found-wrapper {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: red;
}

/* --------- Images Gallery --------- */

.gallery-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-image {
    margin-top: 1em;
    min-width: 180px;
    width: 30%;
}

.edit-gallery {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.gallery-image-edit {
    width: 100%;
}

.image-edit-wrapper {
    margin-top: 1em;
    margin-right: 1em;
    min-width: 180px;
    width: 30%;

}

#new-event-image {
    cursor: pointer;
}

/* --------- Responsive Media Query --------- */

@media only screen and (max-width: 950px) {
    .event-image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .gallery-image {
        width: 48%;
    }
}
