/* --------- Event --------- */

.event-wrapper {
    margin: 0 20px;
}

.event-image {
    float: right;
    width: 20em;
    padding-left: 20px;
}

.event-image img {
    width: 100%;
}

.main-data h2 {
    font-size: 3.4em;
}

.social-buttons {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: 15px;
}

.social-button {
    cursor: pointer;
    margin-right: 5px;
    width: 50px;
}

#display-comments {
    margin-left: 20px;
}

.main-data h3 {
    margin-left: 20px;
    font-size: 2.4em;
}

.main-data h4 {
    margin-left: 20px;
    font-size: 2em;
}

.event-wrapper p {
    color: gray;
    font-size: 1.1em;
    margin-top: 20px;
}

.event-wrapper p a {
    color: blue;
}

/* --------- Events --------- */

.table-image {
    width: 200px;
}

.limited-body {
    display: block;
    max-height: 200px !important;
    overflow-y: scroll;
}

.new-event-button {
    font-weight: bolder;
    background-color: rgb(223, 213, 213);;
    margin-top: 20px;
}

/* --------- Not Found page --------- */

.not-found-wrapper {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    color: red;
}

/* --------- Images Gallery --------- */

.gallery-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-image {
    margin-top: 1em;
    min-width: 180px;
    width: 30%;
}

/* --------- Responsive Media Query --------- */

@media only screen and (max-width: 950px) {
    .event-image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .gallery-image {
        width: 48%;
    }
}
