/* --------- Events --------- */

.events-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.event {
    margin-bottom: 15px;
    height: fit-content;
    width: 32%;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(223, 213, 213);
}

.event .event-logo {
    margin-top: 20px;
    height: 180px;
    width: 80%;
    object-fit: cover;
}

.event .event-name {
    font-size: 1.5em;
    width: 100%;
}

/* --------- Responsive Media Query --------- */

@media only screen and (max-width: 950px) {
    .event {
        width: 48%;
    }
}

@media only screen and (max-width: 780px) {
    .event {
        width: 100%;
    }
}